<div id="gallery" class="gallery all_pad wthree">
  <div class="container">
    <h3 class="title">Sign in</h3>
<%= form_for :session, url: session_path do |form| %>
        <div class="col-md-4"></div>
        <div class="col-md-4">
  <div class="text-field text-center">
    <%= form.text_field :email, type: 'email', :class => "form-control", :placeholder => "Email ..." %>
  </div>
        <br>
  <div class="password-field text-center">
    <%= form.password_field :password, :class => "form-control", :placeholder => "Password ..." %>
  </div>

  <div class="submit-field">
  <br>
    <%= form.submit "Enter", :class => "btn btn-primary" %>
  </div>
<br>
  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
    </div>
  </div>
</div>
