



<% content_for :search do %>

<%= form_tag url_for(:controller => 'advertisements', :action => 'index'), method: 'get' do -%>
  <div class="text-field contact-right">
    <%= text_field_tag :search, params[:search], class: 'form-control input-lg', :placeholder => 'Which book or collection do you look for?' %>
    <%= submit_tag :"LET'S GO!", name: nil %>
  </div>
<% end %>

<% end %>
<%= render 'recommendations' if signed_in?%>
<%= render 'list' %>
